.board {
    width: 30%;
    height: 90%;
    margin: auto;
    position: relative;
    border: solid;
}

.row {
    clear: both;
}

.column {
    display: block;
    float: left;
    width: 10%;
    height: 4%;
    box-sizing: border-box;
    border: 1px solid grey;
}
